body {
    background-image: url('images/background.jpg');
    padding-top: 50px;
    height: 100%;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-top:50px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 50px;
    position: relative;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

#participants {
    float: right;
    height: 300px;
    width: 20%;
    overflow-y: scroll;
}

#comments {
    margin-top: 50px;
    height: 300px;
    width: 50%;
    overflow-y: scroll;
}

#comment-content {
    margin-top: 50px;
}

.grid-colums {
    font-size: 12px;
}


.row {
    margin: 50px;
}

footer {
    position:relative;
    height:10px;
    bottom: 0px;
    left: 30px;
    right: 30px;
}
