@using ReadingClub.Web.ViewModels.Comments
@model IEnumerable<CommentViewModel>

<div id="comments">
    @foreach (var comment in Model)
    {
        <p>
            <span id="comment-author"><strong>@comment.Author: </strong></span>
            <span id="comment-content">@comment.Content</span>
        </p>
    }
</div>
