@using ReadingClub.Web.ViewModels.Users
@model IEnumerable<UserViewModel>

<div id="participants">
    <h3>Participants: </h3>

    <ul id="participants-list">
        @foreach (var participant in Model)
        {
            <li id=@participant.Id>@participant.UserName</li>
        }
    </ul>
</div>
