@using ReadingClub.Web.ViewModels.Discussions
@model IEnumerable<DiscussionViewModel>

@{
    ViewBag.Title = "Index";
}

<h2>Discussions</h2>

@Html.Action("AllDiscussionsPartial")

@section Scripts {
    @Scripts.Render("~/bundles/timeParser")
}

