@using ReadingClub.Web.ViewModels.Books
@model DetailBookViewModel
@{
    ViewBag.Title = "Books";
}

@if(Model.IsApproved == false)
{
    <h3>Currently this book is not approved by an administrator. After being approved by an administrator, it will be added to our book catalog.</h3>
}
else
{
    <p><strong>Title: </strong>@Model.Title</p>
    <p><strong>Author: </strong>@Model.Author</p>
    <p><strong>Description: </strong>@Model.Description</p>
}

@if (User.Identity.IsAuthenticated && Model.IsApproved == true)
{
    @Html.ActionLink("Create discussion", "CreateDiscussion", "Discussions", new { bookId = Model.Id, bookTitle = Model.Title }, new { @class = "btn btn-success btn-sm", role = "button" })
}
