@using ReadingClub.Web.ViewModels.Books
@model DetailBookViewModel
@{
    ViewBag.Title = Model.Title;
}

<h3>@Model.Author</h3>
<h3>@Model.Description</h3>


@*button - create discussion for this book *@

@* upcoming discussions *@
@* current discussions *@
@* passed discussions *@