@using ReadingClub.Web.ViewModels.Books
@model DetailBookViewModel
@{
    ViewBag.Title = "Books";
}

@if(Model.IsApproved == false)
{
    <h3>Thank you for adding a new book. After being approved by an administrator, it will be added to our book catalog.</h3>
}
<h3>@Model.Title</h3>
<h3>@Model.Author</h3>
<h3>@Model.Description</h3>

@if (User.Identity.IsAuthenticated && Model.IsApproved == true)
{
    @Html.ActionLink("Create discussion", "CreateDiscussion", "Discussions", new { bookId = Model.Id, bookTitle = Model.Title }, new { @class = "btn btn-success btn-sm", role = "button" })
}

@* upcoming discussions *@
@* current discussions *@
@* passed discussions *@