@using ReadingClub.Web.ViewModels.Home
@model SearchViewModel

<div class="search">
@if (Model.Books.Count() > 0)
{
    foreach (var book in Model.Books)
    {
        <div>
            <p>@Html.ActionLink(@book.Title, "GetById", "Books", new { bookId = book.Id }, new { @class = "action-link" })</p>
            <p>@book.Author</p>
        </div>
    }
}
</div>