@{
    ViewBag.Title = "About Reading Club";
}
<div>
    <h2>@ViewBag.Title</h2>
    <p>
        ReadingClub is a place where people can find interesting information
        about books and participate in discussions on different subjects.
    </p>
    <hr />
    <p><strong>Created by Viliana Zhilkova</strong></p>
</div>
